<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @point.user_id %>
</p>

<p>
  <b>Work:</b>
  <%= @point.work_id %>
</p>

<p>
  <b>Point:</b>
  <%= @point.point %>
</p>


<%= link_to 'Edit', edit_point_path(@point) %> |
<%= link_to 'Back', points_path %>
