<h1>Listing works</h1>

<table>
  <tr>
    <th>Title</th>
    <th>User</th>
    <th>Skill type</th>
    <th>Image</th>
    <th>Description</th>
    <th>Url</th>
    <th>Like</th>
    <th>Point</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @works.each do |work| %>
  <tr>
    <td><%= work.title %></td>
    <td><%= work.user_id %></td>
    <td><%= work.skill_type_id %></td>
    <td><%= work.image %></td>
    <td><%= work.description %></td>
    <td><%= work.url %></td>
    <td><%= work.like %></td>
    <td><%= work.point %></td>
    <td><%= link_to 'Show', work %></td>
    <td><%= link_to 'Edit', edit_work_path(work) %></td>
    <td><%= link_to 'Destroy', work, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Work', new_work_path %>
