<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @lofe.user_id %>
</p>

<p>
  <b>Portfolio:</b>
  <%= @lofe.portfolio_id %>
</p>


<%= link_to 'Edit', edit_lofe_path(@lofe) %> |
<%= link_to 'Back', loves_path %>
