%h1 Home
-if !current_user
	.login
		= link_to 'Login', '/auth/facebook'
-else
	.login
		= link_to 'Logout', session_logout_path

.recent
	%h2.title Recent Works
	%ul
		= if @recent.present?
			= @recents.each do |recent|
				%li
					- recent.title

.popular
	%h2.title Popular Works
	%ul
		= if @populars.present?
			= @populars.each do |recent|
				%li
					- recent.title


	
	
