<%= form_for(@work_gallery) do |f| %>
  <% if @work_gallery.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@work_gallery.errors.count, "error") %> prohibited this work_gallery from being saved:</h2>

      <ul>
      <% @work_gallery.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :work_id %><br />
    <%= f.number_field :work_id %>
  </div>
  <div class="field">
    <%= f.label :image %><br />
    <%= f.text_field :image %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
