<h1>Listing work_galleries</h1>

<table>
  <tr>
    <th>Work</th>
    <th>Image</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @work_galleries.each do |work_gallery| %>
  <tr>
    <td><%= work_gallery.work_id %></td>
    <td><%= work_gallery.image %></td>
    <td><%= link_to 'Show', work_gallery %></td>
    <td><%= link_to 'Edit', edit_work_gallery_path(work_gallery) %></td>
    <td><%= link_to 'Destroy', work_gallery, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Work gallery', new_work_gallery_path %>
